.h2, h2 {
    font-size: 2.3rem;
    padding-top: 4rem;
    margin-top: -2rem;
    font-weight: bold;
}
.h4, h4 {
    font-size: 1.5rem;
    padding-top: 4rem;
    margin-top: -2rem;
    font-weight: bold;
}
h3 {
    font-size: 1.7rem;
    padding-top: 3rem;
    margin-top: -2rem;
    font-weight: bold;
}
.sub-container{
    margin-left: 60px;
}
.description{
    margin-top: 2px;
    margin-bottom: 4px;
    font-size: 1.3rem;
}
.description-pie{
    margin-top: 4px;
    margin-bottom: 0px;
    text-align: right;
    font-size: medium;
    color: #38393b;
}
.download-pie{
    margin-top: 0px;
    margin-bottom: 4px;
    text-align: right;
    font-size: medium;
    color: #38393b;
}
.topmargin {
    margin-top: 0rem;
}
code {
    display: block;
    line-height: 150%;
}
.container-xl{
    margin-left: 5rem;
}
.divider{
    border: 0.1rem solid #ebf0f4;
    margin-top: 2rem;
    width:1180px;
}
/*导航栏*/
tab-content{
    margin: 0 auto; /* 水平居中 */
}
/*折线图*/
.line-chart{
    /*min-width: calc(100% - 10px); !* 计算一半宽度，减去间距 *!*/
    height: 400px;
    width: 1180px;
    /*border-bottom: 0.1rem solid #ebf0f4;*/
}
.container-lg{
    margin-top: 1rem;
}
.col-lg-12 {
    border-bottom: 0.1rem solid #e5e7ea;
    margin-top: 2rem;
}
/*导航栏*/
.nav {
    margin-bottom: 8px;
}
.nav-tabs{
    /*background-color: #0d6efd;*/
    margin-top: 0.5rem;
    border-radius: 0.375rem;
    border-color:#dee2e6;
}
.nav-tabs .nav-link{
    /*color: #ffffff;*/
}

/*select*/
.form-select{
    width: 17rem;
    height: 2.085rem;
    /*background-color: #0dcaf0;*/
    text-align: center;
}

/*四个饼状图*/
.d-flex{
    width: 1080px;
}
.d-flex .nav .nav-link{
    width: 6.5rem;
}
.pie-chart-container{
    height: 380px;
    width: 1080px
}
.pie-chart-container h4{
    font-size: 1.0rem;
    padding-top: 0rem;
    margin-top: 0rem;
}
.map-chart-container h4{
    font-size: 1.4rem;
    padding-top: 0rem;
    margin-top: 0rem;
}
/*地图*/
.map-chart-container{
    height: 600px;
    width: 1080px
}


